.question {
    margin-bottom: 15px;

    .img-responsive {
        width: 50%;
        height: auto;

    }

    .img {
        width: 84px;
        height: 54px;
        display: flex;
    }
}

@media(max-width: 640px) {
    .question {
        .img {
            width: 42px;
            height: 32px;
        }

        h2 {
            font-size: 13px;
            line-height: 20px;
        }
    }
}